<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expression_1</key>
	<string>[高兴]</string>
	<key>Expression_2</key>
	<string>[皱眉]</string>
	<key>Expression_3</key>
	<string>[阴笑]</string>
	<key>Expression_4</key>
	<string>[鄙视]</string>
	<key>Expression_5</key>
	<string>[邪恶]</string>
	<key>Expression_6</key>
	<string>[囧]</string>
	<key>Expression_7</key>
	<string>[惊喜]</string>
	<key>Expression_8</key>
	<string>[小眼睛]</string>
	<key>Expression_9</key>
	<string>[小怒]</string>
	<key>Expression_10</key>
	<string>[无语]</string>
	<key>Expression_11</key>
	<string>[傻笑]</string>
	<key>Expression_12</key>
	<string>[期待]</string>
	<key>Expression_13</key>
	<string>[得瑟]</string>
	<key>Expression_14</key>
	<string>[呲牙]</string>
	<key>Expression_15</key>
	<string>[喜极而泣]</string>
	<key>Expression_16</key>
	<string>[笑哭了]</string>
	<key>Expression_17</key>
	<string>[脸红]</string>
	<key>Expression_18</key>
	<string>[亲亲]</string>
	<key>Expression_19</key>
	<string>[狂汗]</string>
	<key>Expression_20</key>
	<string>[困了]</string>
	<key>Expression_21</key>
	<string>[饿了]</string>
	<key>Expression_22</key>
	<string>[酷毙了]</string>
	<key>Expression_23</key>
	<string>[抠鼻]</string>
	<key>Expression_24</key>
	<string>[抠出血]</string>
	<key>Expression_25</key>
	<string>[内伤]</string>
	<key>Expression_26</key>
	<string>[流口水]</string>
	<key>Expression_27</key>
	<string>[流鼻血]</string>
	<key>Expression_28</key>
	<string>[流鼻涕]</string>
	<key>Expression_29</key>
	<string>[恶心]</string>
	<key>Expression_30</key>
	<string>[毁容]</string>
	<key>Expression_31</key>
	<string>[吐舌]</string>
	<key>Expression_32</key>
	<string>[口罩]</string>
	<key>Expression_33</key>
	<string>[闭嘴]</string>
	<key>Expression_34</key>
	<string>[尴尬]</string>
	<key>Expression_35</key>
	<string>[晕]</string>
	<key>Expression_36</key>
	<string>[偷笑]</string>
	<key>Expression_37</key>
	<string>[抽烟]</string>
	<key>Expression_38</key>
	<string>[喷水]</string>
	<key>Expression_39</key>
	<string>[喷血]</string>
	<key>Expression_40</key>
	<string>[咽气]</string>
	<key>Expression_41</key>
	<string>[哼小曲]</string>
	<key>Expression_42</key>
	<string>[吹气球]</string>
	<key>Expression_43</key>
	<string>[不出所料]</string>
	<key>Expression_44</key>
	<string>[奋斗]</string>
	<key>Expression_45</key>
	<string>[狂怒]</string>
	<key>Expression_46</key>
	<string>[冻住]</string>
	<key>Expression_47</key>
	<string>[就是你]</string>
	<key>Expression_48</key>
	<string>[过来]</string>
	<key>Expression_49</key>
	<string>[无所谓]</string>
	<key>Expression_50</key>
	<string>[撒花]</string>
	<key>Expression_51</key>
	<string>[OK]</string>
	<key>Expression_52</key>
	<string>[看不见]</string>
	<key>Expression_53</key>
	<string>[赞]</string>
	<key>Expression_54</key>
	<string>[弱]</string>
	<key>Expression_55</key>
	<string>[哦耶]</string>
	<key>Expression_56</key>
	<string>[拳头]</string>
	<key>Expression_57</key>
	<string>[手掌]</string>
	<key>Expression_58</key>
	<string>[中指]</string>
	<key>Expression_59</key>
	<string>[没眼看]</string>
	<key>Expression_60</key>
	<string>[无奈]</string>
	<key>Expression_61</key>
	<string>[害羞]</string>
	<key>Expression_62</key>
	<string>[打脸]</string>
	<key>Expression_63</key>
	<string>[想一想]</string>
	<key>Expression_64</key>
	<string>[嘘]</string>
	<key>Expression_65</key>
	<string>[烧香]</string>
	<key>Expression_66</key>
	<string>[抱拳]</string>
	<key>Expression_67</key>
	<string>[鼓掌]</string>
	<key>Expression_68</key>
	<string>[观察]</string>
	<key>Expression_69</key>
	<string>[锁眉]</string>
	<key>Expression_70</key>
	<string>[黑线]</string>
	<key>Expression_71</key>
	<string>[沉住气]</string>
	<key>Expression_72</key>
	<string>[泪流成河]</string>
	<key>Expression_73</key>
	<string>[偷看]</string>
	<key>Expression_74</key>
	<string>[偷拍]</string>
	<key>Expression_75</key>
	<string>[潜水]</string>
	<key>Expression_76</key>
	<string>[蜡烛]</string>
	<key>Expression_77</key>
	<string>[吐血倒地]</string>
	<key>Expression_78</key>
	<string>[一地哈喇]</string>
	<key>Expression_79</key>
	<string>[长草]</string>
	<key>Expression_80</key>
	<string>[便便]</string>
	<key>Expression_81</key>
	<string>[绿帽子]</string>
	<key>Expression_82</key>
	<string>[注意安全]</string>
	<key>Expression_83</key>
	<string>[投降]</string>
	<key>Expression_84</key>
	<string>[被砍]</string>
	<key>Expression_85</key>
	<string>[敲打]</string>
	<key>Expression_86</key>
	<string>[肿包]</string>
	<key>Expression_87</key>
	<string>[坐等]</string>
	<key>Expression_88</key>
	<string>[看热闹]</string>
	<key>Expression_89</key>
	<string>[思考]</string>
	<key>Expression_90</key>
	<string>[被监视]</string>
	<key>Expression_91</key>
	<string>[狗探头]</string>
	<key>Expression_92</key>
	<string>[狗看看]</string>
	<key>Expression_93</key>
	<string>[斜眼狗]</string>
	<key>Expression_94</key>
	<string>[大眼狗]</string>
	<key>Expression_95</key>
	<string>[伸舌狗]</string>
	<key>Expression_96</key>
	<string>[吃骨头]</string>
	<key>Expression_97</key>
	<string>[摸狗头]</string>
	<key>Expression_98</key>
	<string>[被狗咬]</string>
	<key>Expression_99</key>
	<string>[猫探头]</string>
	<key>Expression_100</key>
	<string>[猫看看]</string>
	<key>Expression_101</key>
	<string>[眯眼猫]</string>
	<key>Expression_102</key>
	<string>[斜眼猫]</string>
	<key>Expression_103</key>
	<string>[大眼猫]</string>
	<key>Expression_104</key>
	<string>[猫吃鱼]</string>
	<key>Expression_105</key>
	<string>[摸猫头]</string>
	<key>Expression_106</key>
	<string>[被猫挠]</string>
	<key>Expression_107</key>
	<string>[猪探头]</string>
	<key>Expression_108</key>
	<string>[猪睡觉]</string>
	<key>Expression_109</key>
	<string>[猪看看]</string>
	<key>Expression_110</key>
	<string>[猪眯眼]</string>
	<key>Expression_111</key>
	<string>[乐乐猪]</string>
	<key>Expression_112</key>
	<string>[猪噜噜]</string>
	<key>Expression_113</key>
	<string>[剁猪头]</string>
	<key>Expression_114</key>
	<string>[吉他手]</string>
	<key>Expression_115</key>
	<string>[我爱香蕉]</string>
	<key>Expression_116</key>
	<string>[宝宝乖]</string>
	<key>Expression_117</key>
	<string>[打针]</string>
	<key>Expression_118</key>
	<string>[炸药]</string>
	<key>Expression_119</key>
	<string>[核弹]</string>
	<key>Expression_120</key>
	<string>[钱]</string>
	<key>Expression_121</key>
	<string>[吃冰棒]</string>
	<key>Expression_122</key>
	<string>[吃香蕉]</string>
	<key>Expression_123</key>
	<string>[吃鸡腿]</string>
	<key>Expression_124</key>
	<string>[吃蔬菜]</string>
	<key>Expression_125</key>
	<string>[喝饮料]</string>
	<key>Expression_126</key>
	<string>[喝咖啡]</string>
	<key>Expression_127</key>
	<string>[泡澡]</string>
	<key>Expression_128</key>
	<string>[扔鸡蛋]</string>
	<key>Expression_129</key>
	<string>[献花]</string>
	<key>Expression_130</key>
	<string>[来跟黄瓜]</string>
	<key>Expression_131</key>
	<string>[来根香蕉]</string>
	<key>Expression_132</key>
	<string>[加个鸡腿]</string>
	<key>Expression_133</key>
	<string>[举个栗子]</string>
	<key>Expression_134</key>
	<string>[烧钱]</string>
	<key>Expression_135</key>
	<string>[板砖]</string>
	<key>Expression_136</key>
	<string>[挥帽子]</string>
	<key>Expression_137</key>
	<string>[举叨叨]</string>
	<key>Expression_138</key>
	<string>[药不能停]</string>
	<key>Expression_139</key>
	<string>[神仙水]</string>
	<key>Expression_140</key>
	<string>[+1]</string>
	<key>Expression_141</key>
	<string>[-1]</string>
	<key>Expression_142</key>
	<string>[卫生纸]</string>
	<key>Expression_143</key>
	<string>[土豪任性]</string>
	<key>Expression_144</key>
	<string>[丢骨头]</string>
	<key>Expression_145</key>
	<string>[丢手雷]</string>
	<key>Expression_146</key>
	<string>[丢肥皂]</string>
	<key>Expression_147</key>
	<string>[示爱]</string>
	<key>Expression_148</key>
	<string>[相亲相爱]</string>
	<key>Expression_149</key>
	<string>[钻被窝]</string>
	<key>Expression_150</key>
	<string>[睡死你]</string>
	<key>Expression_151</key>
	<string>[击掌]</string>
	<key>Expression_152</key>
	<string>[扇的心痛]</string>
	<key>Expression_153</key>
	<string>[砸钱]</string>
	<key>Expression_154</key>
	<string>[不想活了]</string>
	<key>Expression_155</key>
	<string>[枪毙]</string>
	<key>Expression_156</key>
	<string>[挥鞭]</string>
	<key>Expression_157</key>
	<string>[欠抽]</string>
	<key>Expression_158</key>
	<string>[去死]</string>
	<key>Expression_159</key>
	<string>[互捅]</string>
	<key>Expression_160</key>
	<string>[忍痛割爱]</string>
	<key>Expression_161</key>
	<string>[亮剑]</string>
	<key>Expression_162</key>
	<string>[切腹]</string>
	<key>Expression_163</key>
	<string>[背后一刀]</string>
	<key>Expression_164</key>
	<string>[大义灭亲]</string>
</dict>
</plist>
