<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[高兴]</key>
	<string>Expression_1</string>
	<key>[皱眉]</key>
	<string>Expression_2</string>
	<key>[阴笑]</key>
	<string>Expression_3</string>
	<key>[鄙视]</key>
	<string>Expression_4</string>
	<key>[邪恶]</key>
	<string>Expression_5</string>
	<key>[囧]</key>
	<string>Expression_6</string>
	<key>[惊喜]</key>
	<string>Expression_7</string>
	<key>[小眼睛]</key>
	<string>Expression_8</string>
	<key>[小怒]</key>
	<string>Expression_9</string>
	<key>[无语]</key>
	<string>Expression_10</string>
	<key>[傻笑]</key>
	<string>Expression_11</string>
	<key>[期待]</key>
	<string>Expression_12</string>
	<key>[得瑟]</key>
	<string>Expression_13</string>
	<key>[呲牙]</key>
	<string>Expression_14</string>
	<key>[喜极而泣]</key>
	<string>Expression_15</string>
	<key>[笑哭了]</key>
	<string>Expression_16</string>
	<key>[脸红]</key>
	<string>Expression_17</string>
	<key>[亲亲]</key>
	<string>Expression_18</string>
	<key>[狂汗]</key>
	<string>Expression_19</string>
	<key>[困了]</key>
	<string>Expression_20</string>
	<key>[饿了]</key>
	<string>Expression_21</string>
	<key>[酷毙了]</key>
	<string>Expression_22</string>
	<key>[抠鼻]</key>
	<string>Expression_23</string>
	<key>[抠出血]</key>
	<string>Expression_24</string>
	<key>[内伤]</key>
	<string>Expression_25</string>
	<key>[流口水]</key>
	<string>Expression_26</string>
	<key>[流鼻血]</key>
	<string>Expression_27</string>
	<key>[流鼻涕]</key>
	<string>Expression_28</string>
	<key>[恶心]</key>
	<string>Expression_29</string>
	<key>[毁容]</key>
	<string>Expression_30</string>
	<key>[吐舌]</key>
	<string>Expression_31</string>
	<key>[口罩]</key>
	<string>Expression_32</string>
	<key>[闭嘴]</key>
	<string>Expression_33</string>
	<key>[尴尬]</key>
	<string>Expression_34</string>
	<key>[晕]</key>
	<string>Expression_35</string>
	<key>[偷笑]</key>
	<string>Expression_36</string>
	<key>[抽烟]</key>
	<string>Expression_37</string>
	<key>[喷水]</key>
	<string>Expression_38</string>
	<key>[喷血]</key>
	<string>Expression_39</string>
	<key>[咽气]</key>
	<string>Expression_40</string>
	<key>[哼小曲]</key>
	<string>Expression_41</string>
	<key>[吹气球]</key>
	<string>Expression_42</string>
	<key>[不出所料]</key>
	<string>Expression_43</string>
	<key>[奋斗]</key>
	<string>Expression_44</string>
	<key>[狂怒]</key>
	<string>Expression_45</string>
	<key>[冻住]</key>
	<string>Expression_46</string>
	<key>[就是你]</key>
	<string>Expression_47</string>
	<key>[过来]</key>
	<string>Expression_48</string>
	<key>[无所谓]</key>
	<string>Expression_49</string>
	<key>[撒花]</key>
	<string>Expression_50</string>
	<key>[OK]</key>
	<string>Expression_51</string>
	<key>[看不见]</key>
	<string>Expression_52</string>
	<key>[赞]</key>
	<string>Expression_53</string>
	<key>[弱]</key>
	<string>Expression_54</string>
	<key>[哦耶]</key>
	<string>Expression_55</string>
	<key>[拳头]</key>
	<string>Expression_56</string>
	<key>[手掌]</key>
	<string>Expression_57</string>
	<key>[中指]</key>
	<string>Expression_58</string>
	<key>[没眼看]</key>
	<string>Expression_59</string>
	<key>[无奈]</key>
	<string>Expression_60</string>
	<key>[害羞]</key>
	<string>Expression_61</string>
	<key>[打脸]</key>
	<string>Expression_62</string>
	<key>[想一想]</key>
	<string>Expression_63</string>
	<key>[嘘]</key>
	<string>Expression_64</string>
	<key>[烧香]</key>
	<string>Expression_65</string>
	<key>[抱拳]</key>
	<string>Expression_66</string>
	<key>[鼓掌]</key>
	<string>Expression_67</string>
	<key>[观察]</key>
	<string>Expression_68</string>
	<key>[锁眉]</key>
	<string>Expression_69</string>
	<key>[黑线]</key>
	<string>Expression_70</string>
	<key>[沉住气]</key>
	<string>Expression_71</string>
	<key>[泪流成河]</key>
	<string>Expression_72</string>
	<key>[偷看]</key>
	<string>Expression_73</string>
	<key>[偷拍]</key>
	<string>Expression_74</string>
	<key>[潜水]</key>
	<string>Expression_75</string>
	<key>[蜡烛]</key>
	<string>Expression_76</string>
	<key>[吐血倒地]</key>
	<string>Expression_77</string>
	<key>[一地哈喇]</key>
	<string>Expression_78</string>
	<key>[长草]</key>
	<string>Expression_79</string>
	<key>[便便]</key>
	<string>Expression_80</string>
	<key>[绿帽子]</key>
	<string>Expression_81</string>
	<key>[注意安全]</key>
	<string>Expression_82</string>
	<key>[投降]</key>
	<string>Expression_83</string>
	<key>[被砍]</key>
	<string>Expression_84</string>
	<key>[敲打]</key>
	<string>Expression_85</string>
	<key>[肿包]</key>
	<string>Expression_86</string>
	<key>[坐等]</key>
	<string>Expression_87</string>
	<key>[看热闹]</key>
	<string>Expression_88</string>
	<key>[思考]</key>
	<string>Expression_89</string>
	<key>[被监视]</key>
	<string>Expression_90</string>
	<key>[狗探头]</key>
	<string>Expression_91</string>
	<key>[狗看看]</key>
	<string>Expression_92</string>
	<key>[斜眼狗]</key>
	<string>Expression_93</string>
	<key>[大眼狗]</key>
	<string>Expression_94</string>
	<key>[伸舌狗]</key>
	<string>Expression_95</string>
	<key>[吃骨头]</key>
	<string>Expression_96</string>
	<key>[摸狗头]</key>
	<string>Expression_97</string>
	<key>[被狗咬]</key>
	<string>Expression_98</string>
	<key>[猫探头]</key>
	<string>Expression_99</string>
	<key>[猫看看]</key>
	<string>Expression_100</string>
	<key>[眯眼猫]</key>
	<string>Expression_101</string>
	<key>[斜眼猫]</key>
	<string>Expression_102</string>
	<key>[大眼猫]</key>
	<string>Expression_103</string>
	<key>[猫吃鱼]</key>
	<string>Expression_104</string>
	<key>[摸猫头]</key>
	<string>Expression_105</string>
	<key>[被猫挠]</key>
	<string>Expression_106</string>
	<key>[猪探头]</key>
	<string>Expression_107</string>
	<key>[猪睡觉]</key>
	<string>Expression_108</string>
	<key>[猪看看]</key>
	<string>Expression_109</string>
	<key>[猪眯眼]</key>
	<string>Expression_110</string>
	<key>[乐乐猪]</key>
	<string>Expression_111</string>
	<key>[猪噜噜]</key>
	<string>Expression_112</string>
	<key>[剁猪头]</key>
	<string>Expression_113</string>
	<key>[吉他手]</key>
	<string>Expression_114</string>
	<key>[我爱香蕉]</key>
	<string>Expression_115</string>
	<key>[宝宝乖]</key>
	<string>Expression_116</string>
	<key>[打针]</key>
	<string>Expression_117</string>
	<key>[炸药]</key>
	<string>Expression_118</string>
	<key>[核弹]</key>
	<string>Expression_119</string>
	<key>[钱]</key>
	<string>Expression_120</string>
	<key>[吃冰棒]</key>
	<string>Expression_121</string>
	<key>[吃香蕉]</key>
	<string>Expression_122</string>
	<key>[吃鸡腿]</key>
	<string>Expression_123</string>
	<key>[吃蔬菜]</key>
	<string>Expression_124</string>
	<key>[喝饮料]</key>
	<string>Expression_125</string>
	<key>[喝咖啡]</key>
	<string>Expression_126</string>
	<key>[泡澡]</key>
	<string>Expression_127</string>
	<key>[扔鸡蛋]</key>
	<string>Expression_128</string>
	<key>[献花]</key>
	<string>Expression_129</string>
	<key>[来跟黄瓜]</key>
	<string>Expression_130</string>
	<key>[来根香蕉]</key>
	<string>Expression_131</string>
	<key>[加个鸡腿]</key>
	<string>Expression_132</string>
	<key>[举个栗子]</key>
	<string>Expression_133</string>
	<key>[烧钱]</key>
	<string>Expression_134</string>
	<key>[板砖]</key>
	<string>Expression_135</string>
	<key>[挥帽子]</key>
	<string>Expression_136</string>
	<key>[举叨叨]</key>
	<string>Expression_137</string>
	<key>[药不能停]</key>
	<string>Expression_138</string>
	<key>[神仙水]</key>
	<string>Expression_139</string>
	<key>[+1]</key>
	<string>Expression_140</string>
	<key>[-1]</key>
	<string>Expression_141</string>
	<key>[卫生纸]</key>
	<string>Expression_142</string>
	<key>[土豪任性]</key>
	<string>Expression_143</string>
	<key>[丢骨头]</key>
	<string>Expression_144</string>
	<key>[丢手雷]</key>
	<string>Expression_145</string>
	<key>[丢肥皂]</key>
	<string>Expression_146</string>
	<key>[示爱]</key>
	<string>Expression_147</string>
	<key>[相亲相爱]</key>
	<string>Expression_148</string>
	<key>[钻被窝]</key>
	<string>Expression_149</string>
	<key>[睡死你]</key>
	<string>Expression_150</string>
	<key>[击掌]</key>
	<string>Expression_151</string>
	<key>[扇的心痛]</key>
	<string>Expression_152</string>
	<key>[砸钱]</key>
	<string>Expression_153</string>
	<key>[不想活了]</key>
	<string>Expression_154</string>
	<key>[枪毙]</key>
	<string>Expression_155</string>
	<key>[挥鞭]</key>
	<string>Expression_156</string>
	<key>[欠抽]</key>
	<string>Expression_157</string>
	<key>[去死]</key>
	<string>Expression_158</string>
	<key>[互捅]</key>
	<string>Expression_159</string>
	<key>[忍痛割爱]</key>
	<string>Expression_160</string>
	<key>[亮剑]</key>
	<string>Expression_161</string>
	<key>[切腹]</key>
	<string>Expression_162</string>
	<key>[背后一刀]</key>
	<string>Expression_163</string>
	<key>[大义灭亲]</key>
	<string>Expression_164</string>
</dict>
</plist>
