<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[高兴]</key>
	<string>001</string>
	<key>[皱眉]</key>
	<string>002</string>
	<key>[阴笑]</key>
	<string>003</string>
	<key>[鄙视]</key>
	<string>004</string>
	<key>[邪恶]</key>
	<string>005</string>
	<key>[囧]</key>
	<string>006</string>
	<key>[惊喜]</key>
	<string>007</string>
	<key>[小眼睛]</key>
	<string>008</string>
	<key>[小怒]</key>
	<string>009</string>
	<key>[无语]</key>
	<string>010</string>
	<key>[傻笑]</key>
	<string>011</string>
	<key>[期待]</key>
	<string>012</string>
	<key>[得瑟]</key>
	<string>013</string>
	<key>[]呲牙</key>
	<string>014</string>
	<key>[喜极而泣]</key>
	<string>015</string>
	<key>[笑哭了]</key>
	<string>016</string>
	<key>[脸红]</key>
	<string>017</string>
	<key>[亲亲]</key>
	<string>018</string>
	<key>[狂汗]</key>
	<string>019</string>
	<key>[困了]</key>
	<string>020</string>
	<key>[饿了]</key>
	<string>021</string>
	<key>[酷毙了]</key>
	<string>022</string>
	<key>[抠鼻]</key>
	<string>023</string>
	<key>[抠出血]</key>
	<string>024</string>
	<key>[内伤]</key>
	<string>025</string>
	<key>[流口水]</key>
	<string>026</string>
	<key>[流鼻血]</key>
	<string>027</string>
	<key>[流鼻涕]</key>
	<string>028</string>
	<key>[恶心]</key>
	<string>029</string>
	<key>[毁容]</key>
	<string>030</string>
	<key>[吐舌]</key>
	<string>031</string>
	<key>[口罩]</key>
	<string>032</string>
	<key>[闭嘴]</key>
	<string>033</string>
	<key>[尴尬]</key>
	<string>034</string>
	<key>[晕]</key>
	<string>035</string>
	<key>[偷笑]</key>
	<string>036</string>
	<key>[抽烟]</key>
	<string>037</string>
	<key>[喷水]</key>
	<string>038</string>
	<key>[喷血]</key>
	<string>039</string>
	<key>[咽气]</key>
	<string>040</string>
	<key>[哼小曲]</key>
	<string>041</string>
	<key>[吹气球]</key>
	<string>042</string>
	<key>[不出所料]</key>
	<string>043</string>
	<key>[奋斗]</key>
	<string>044</string>
	<key>[狂怒]</key>
	<string>045</string>
	<key>[冻住]</key>
	<string>046</string>
	<key>[就是你]</key>
	<string>047</string>
	<key>[过来]</key>
	<string>048</string>
	<key>[无所谓]</key>
	<string>049</string>
	<key>[撒花]</key>
	<string>050</string>
	<key>[OK]</key>
	<string>051</string>
	<key>[看不见]</key>
	<string>052</string>
	<key>[赞]</key>
	<string>053</string>
	<key>[弱]</key>
	<string>054</string>
	<key>[哦耶]</key>
	<string>055</string>
	<key>[拳头]</key>
	<string>056</string>
	<key>[手掌]</key>
	<string>057</string>
	<key>[中指]</key>
	<string>058</string>
	<key>[没眼看]</key>
	<string>059</string>
	<key>[无奈]</key>
	<string>060</string>
	<key>[害羞]</key>
	<string>061</string>
	<key>[打脸]</key>
	<string>062</string>
	<key>[想一想]</key>
	<string>063</string>
	<key>[嘘]</key>
	<string>064</string>
	<key>[烧香]</key>
	<string>065</string>
	<key>[抱拳]</key>
	<string>066</string>
	<key>[鼓掌]</key>
	<string>067</string>
	<key>[观察]</key>
	<string>068</string>
	<key>[锁眉]</key>
	<string>069</string>
	<key>[黑线]</key>
	<string>070</string>
	<key>[沉住气]</key>
	<string>071</string>
	<key>[泪流成河]</key>
	<string>072</string>
	<key>[偷看]</key>
	<string>073</string>
	<key>[偷拍]</key>
	<string>074</string>
	<key>[潜水]</key>
	<string>075</string>
	<key>[蜡烛]</key>
	<string>076</string>
	<key>[吐血倒地]</key>
	<string>077</string>
	<key>[一地哈喇]</key>
	<string>078</string>
	<key>[长草]</key>
	<string>079</string>
	<key>[便便]</key>
	<string>080</string>
	<key>[绿帽子]</key>
	<string>081</string>
	<key>[注意安全]</key>
	<string>082</string>
	<key>[投降]</key>
	<string>083</string>
	<key>[被砍]</key>
	<string>084</string>
	<key>[敲打]</key>
	<string>085</string>
	<key>[肿包]</key>
	<string>086</string>
	<key>[坐等]</key>
	<string>087</string>
	<key>[看热闹]</key>
	<string>088</string>
	<key>[思考]</key>
	<string>089</string>
	<key>[被监视]</key>
	<string>090</string>
	<key>[狗探头]</key>
	<string>091</string>
	<key>[狗看看]</key>
	<string>092</string>
	<key>[斜眼狗]</key>
	<string>093</string>
	<key>[大眼狗]</key>
	<string>094</string>
	<key>[伸舌狗]</key>
	<string>095</string>
	<key>[吃骨头]</key>
	<string>096</string>
	<key>[摸狗头]</key>
	<string>097</string>
	<key>[被狗咬]</key>
	<string>098</string>
	<key>[猫探头]</key>
	<string>099</string>
	<key>[猫看看]</key>
	<string>100</string>
	<key>[眯眼猫]</key>
	<string>101</string>
	<key>[斜眼猫]</key>
	<string>102</string>
	<key>[大眼猫]</key>
	<string>103</string>
	<key>[猫吃鱼]</key>
	<string>104</string>
	<key>[摸猫头]</key>
	<string>105</string>
	<key>[被猫挠]</key>
	<string>106</string>
	<key>[猪探头]</key>
	<string>107</string>
	<key>[猪睡觉]</key>
	<string>108</string>
	<key>[猪看看]</key>
	<string>109</string>
	<key>[猪眯眼]</key>
	<string>110</string>
	<key>[乐乐猪]</key>
	<string>111</string>
	<key>[猪噜噜]</key>
	<string>112</string>
	<key>[剁猪头]</key>
	<string>113</string>
	<key>[吉他手]</key>
	<string>114</string>
	<key>[我爱香蕉]</key>
	<string>115</string>
	<key>[宝宝乖]</key>
	<string>116</string>
	<key>[打针]</key>
	<string>117</string>
	<key>[炸药]</key>
	<string>118</string>
	<key>[核弹]</key>
	<string>119</string>
	<key>[钱]</key>
	<string>120</string>
	<key>[吃冰棒]</key>
	<string>121</string>
	<key>[吃香蕉]</key>
	<string>122</string>
	<key>[吃鸡腿]</key>
	<string>123</string>
	<key>[吃蔬菜]</key>
	<string>124</string>
	<key>[喝饮料]</key>
	<string>125</string>
	<key>[喝咖啡]</key>
	<string>126</string>
	<key>[泡澡]</key>
	<string>127</string>
	<key>[扔鸡蛋]</key>
	<string>128</string>
	<key>[献花]</key>
	<string>129</string>
	<key>[来跟黄瓜]</key>
	<string>130</string>
	<key>[来根香蕉]</key>
	<string>131</string>
	<key>[加个鸡腿]</key>
	<string>132</string>
	<key>[举个栗子]</key>
	<string>133</string>
	<key>[烧钱]</key>
	<string>134</string>
	<key>[板砖]</key>
	<string>135</string>
	<key>[挥帽子]</key>
	<string>136</string>
	<key>[举叨叨]</key>
	<string>137</string>
	<key>[药不能停]</key>
	<string>138</string>
	<key>[神仙水]</key>
	<string>139</string>
	<key>[+1]</key>
	<string>140</string>
	<key>[-1]</key>
	<string>141</string>
	<key>[卫生纸]</key>
	<string>142</string>
	<key>[土豪任性]</key>
	<string>143</string>
	<key>[丢骨头]</key>
	<string>144</string>
	<key>[丢手雷]</key>
	<string>145</string>
	<key>[丢肥皂]</key>
	<string>146</string>
	<key>[示爱]</key>
	<string>147</string>
	<key>[相亲相爱]</key>
	<string>148</string>
	<key>[钻被窝]</key>
	<string>149</string>
	<key>[睡死你]</key>
	<string>150</string>
	<key>[击掌]</key>
	<string>151</string>
	<key>[扇的心痛]</key>
	<string>152</string>
	<key>[砸钱]</key>
	<string>153</string>
	<key>[不想活了]</key>
	<string>154</string>
	<key>[枪毙]</key>
	<string>155</string>
	<key>[挥鞭]</key>
	<string>156</string>
	<key>[欠抽]</key>
	<string>157</string>
	<key>[去死]</key>
	<string>158</string>
	<key>[互捅]</key>
	<string>159</string>
	<key>[忍痛割爱]</key>
	<string>160</string>
	<key>[亮剑]</key>
	<string>161</string>
	<key>[切腹]</key>
	<string>162</string>
	<key>[背后一刀]</key>
	<string>163</string>
	<key>[大义灭亲]</key>
	<string>164</string>
</dict>
</plist>
